html {
    background-image: url("https://pixabay.com/images/id-792083/");
    overflow: hidden;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 400px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 80px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.container button {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.container button:hover {
    background-color: #000000;
    color: #FFFFFF;
}